* text=auto
.gitattributes text eol=lf

*.cs text eol=lf
*.css text eol=lf
*.cfg text eol=lf
*.gd text eol=lf
*.gltf text eol=lf
*.godot text eol=lf
*.html text eol=lf
*.json text eol=lf
*.md text eol=lf
*.mjs text eol=lf
*.ps1 text eol=lf
*.py text eol=lf
*.sln text eol=crlf
*.spec text eol=lf
*.tscn text eol=lf
*.tres text eol=lf
*.txt text eol=lf
*.uid text eol=lf
*.yml text eol=lf

*.bin binary
*.nif binary
*.png binary
*.zip binary
